

body{
    margin:0;
    padding:0;
}


.navbar{
    width:100%;
    height:70px;
}

.navbar p{
    font-size:40px;
    font-family:cursive;
    float:left;
    margin-top:0;
    padding:10px;
    color:#21455e;
}

.navbar ul{
    list-style-type:none;
    float:left;
    margin-left:40%;
    width:40%;
    margin-top:30px;
}

.navbar ul li{
    display:inline;
    margin-left:3%;
    font-family:cursive;
    color:#21455e;
}

.navbar ul li:hover{
    color:red;
}

/*-- header --*/

.header{
    width:100%;
    height:600px;
    background-image: url(image/IMG-20201227-WA0020.jpg);
    background-size:cover;
    position:relative;
}

.opacity{
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.3;
}

.header p{
    position:absolute;
    top:270px;
    left:31%;
    color:wheat;
    font-family:cursive;
    font-size:50px;
    border-bottom:solid wheat;
}

      /*-- about --*/

      .about{
          padding:80px 0 80px 0;
      }

      .about p{
          width:45%;
          font-family:cursive;
          font-size:20px;
          float:left;
          color:#21455e;
          margin-left:5%;
      }

      .about p span{
          display:block;
          font-family:cursive;
          font-size:40px;
          color:#21455e;
          border-bottom:solid thin red;
          text-transform:uppercase;
          width:35%;
          margin-bottom:20px;
      }

      .about img{
          width:40%;
          height:400px;
          margin-left:6%;
          box-shadow:10px 0 20px black;
      }